{% extends 'base.html.twig' %}
{% block body %}
    <p>
        {{ program.title }}<br>
        {{ season.number }}<br>
        {{ episode.number }} {{ episode.title }}<br>
        {{ episode.synopsis }}
    </p>
{% endblock %}