{% extends 'base.html.twig' %}
{% block body %}
    <p>
        season {{ season.number }}<br>
        sortie : {{ season.year }}<br>
        description : {{ season.description }}
    </p>
    <h4>autres episodes</h4>
    {% for episode in episodes %}
        <a href="{{ path('program_episode_show', {programSlug : program.slug, seasonId : season.id, episodeSlug : episode.slug}) }}">episode {{ episode.number}} : {{ episode.title }}</a><br>
    {% endfor %}
{% endblock %}